@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Auth",new {area=""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Welcome back " + User.Identity.Name + "!", "Index", "Posts")
            </li>
            @if (User.Identity.Name == "admin")
            {
                <li>
                    @*@Html.ActionLink("View Admin Posts", "Index", "Posts", new { area = "admin" })*@
                    <a href="@Url.Action("Index", "Posts", new { area = "admin" })">View Admin posts</a>
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
